<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.softwareofnote.dogtrackin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com​.googleusercontent​.apps​.1034493409270​-jmtk9vo319ft713jv4666ens9b1vqctv</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
